.App {
  font-family: sans-serif;
  text-align: center;
}
.dark{
    background-color: #222;
    color: #e6e6e6;
}
body{
     padding:10% 3% 10% 3%;
     text-align:center;
}
        img{
            height:140px;
                width:140px;
        }
        h1{
        color: #32a852;
        }
        .mode {
            float:right;
        }
        .change {
            cursor: pointer;
            border: 1px solid #555;
            border-radius: 40%;
            width: 20px;
            text-align: center;
            padding: 5px;
            margin-left: 8px;
        }
